include sphinx_automated/*
include sphinx_automated/tests/*
include sphinx_automated/templates/*
include sphinx_automated/examples/*
include versioneer.py
include _version.py
include sphinx_automated/_version.py
